
<div class="bar bar-header bar-calm">
  	<h1 class="title">{{name}}</h1>
</div>
<div class="list has-header" id="myList">

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-email"></i>
    邀请好友送福利
    <i class="icon ion-chevron-right ion-grey"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
   我的订单
    <i class="icon ion-chevron-right ion-grey"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-mic-a"></i>
    我的余额
    <i class="icon ion-chevron-right ion-grey"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
   我的优惠券
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
  积分
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
   我的地址
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
   下载每日优鲜APP
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
  联系客服
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person-stalker"></i>
   我的尝试
   <i class="icon ion-chevron-right ion-grey"></i>
  </a>

</div>